{% extends "fixlyft/base.html" %}
{% block content %}
{% load humanize %}

<div class="container">
    <div class="row">
        <div class="col-12" style="overflow: auto;white-space: nowrap;margin-top: 15px;">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                    <th>Date and Time</th>
                    <th>Customer Name</th>
                    <th>Mobile Number</th>
                    <th>Mobile Shop</th>
                    <th>Device</th>
                    <th>Complaint</th>
                    <th>Call Customer</th>
                    <th>Mark as Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pickup in pickups %}
                    <tr>

                    <td>{{ pickup.timestamp }}</td>
                    <td>{{ pickup.customer_name }}</td>
                    <td>{{ pickup.mobile_number }}</td>
                    <td>{{ pickup.mobileshop }}</td>
                    <td>{{ pickup.device_name }}</td>
                    <td>{{ pickup.complaint }}</td>
                    <td><a href="tel:{{ pickup.mobile_number }}"><button >Call Customer</button></a></td>
                    <td><button onclick="updateForm('{% url 'update' pickup.pk %}')">Mark as Completed</button></td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{% url 'logout' %}">Logout</a>

<div class="modal"  id="fModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
            <form name="updateTable" id="updateTable" action="" method="POST">
                {% csrf_token %}
                <input type="checkbox" name="completed" id="id_completed"> Confirm<br><br>
                <button type="submit" class="submit-button">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    var frmUrl;
    function updateForm(pk){
        frmUrl = pk;
        document.getElementById('updateTable').action = frmUrl;
        $('#fModal').modal();
    }
</script>
{% endblock %}